The data used in this project was based on personality information from various users, and their movie preferences based on that data.

In [61]:
import pandas as pd
import numpy as np

import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

import missingno as msno 
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler

In [67]:
df = pd.read_csv("https://raw.githubusercontent.com/brandjula/BCS109-FALL-2020/master/2018-personality-data-HW.csv")

# To display the top 5 rows
df.head()

                             userid  ...   enjoy_watching
0  8e7cebf9a234c064b75016249f2ac65e  ...                 4
1  77c7d756a093150d4377720abeaeef76  ...                 3
2  b7e8a92987a530cc368719a0e60e26a3  ...                 2
3  92561f21446e017dd6b68b94b23ad5b7  ...                 3
4  030001ac2145a938b07e686a35a2d638  ...                 3

[5 rows x 34 columns]

In [ ]:
#describe data
df.describe()

In [ ]:
#Identify Data Types
df_info = pd.DataFrame(df.dtypes,columns=['Dtype'])

#Identify unique values
df_info['Nunique'] = df.nunique()

#check missing values in each column
df_info['MissingValues']=df.isnull().sum()

# Identify the count for each variable
df_info['Count']=df.count()

# Identify the zero values for each variable
df_info['ZeroValues']=(df==0).sum()

df_info

#Data analysis

In [ ]:
#I wanted to count the frequency of each assigned metric, but I keep getting an error "figure out the plotting orientation"
sns.countplot(x="assigned_metric", data=df)